
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    margin-right: 20px; /* Ajoute un espacement à droite pour chaque lien (ajustez selon vos besoins) */
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid white; 
}

header h1 {
    margin: 15px;
    color: white;
}

h2 {
    text-align: center
}

header {
    background-color: #395C9F;
    color: #fff;
    padding: 5px 0;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}


main {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.connexion a {
    color:  #395C9F;
}


.mdp {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.mdp input {
    width: 100%;
    padding-right: 30px; /* Ajoutez un peu d'espace pour l'icône */
}

.mdp i {
    position: absolute;
    right: 10px; /* Ajustez la position de l'icône */
    cursor: pointer;
    bottom: 28px;
}

.mdp i.active::before {
    content: '\f070';
    color: rgba(0, 0, 0, 0.734);
}



.mdp1 {
    display: flex;
    flex-direction: column;
}

.input-container1 {
    display: flex;
    align-items: center;
    position: relative;
}

.mdp1 input {
    width: 100%;
    padding-right: 30px; /* Ajoutez un peu d'espace pour l'icône */
}

.mdp1 i {
    position: absolute;
    right: 10px; /* Ajustez la position de l'icône */
    cursor: pointer;
    bottom: 28px;
}

.mdp1 i.active::before {
    content: '\f070';
    color: rgba(0, 0, 0, 0.734);
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1280px) {

}