body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: #395C9F;
    padding: 5px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

header a {
    text-decoration: none;
}


h1 {
    color: white;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    margin-right: 20px; /* Ajoute un espacement à droite pour chaque lien (ajustez selon vos besoins) */
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid white; 
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  padding: 20px 0;
}

.first-presentation {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.name-entreprise {
  text-align: center;
}

.name-entreprise a {
  display: block;
  margin-top: 10px;
  color: #395C9F;
  text-decoration: none;
}

.name-entreprise p {
  margin: 10px 0 0;
}

.logo-linkedin img{
  max-width: 50px;
  border-radius: 50%;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.navigation a {
  color: #395C9F;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation a:hover {
  background-color: #f8f9fa;
}

.presentation {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.offer-group {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.offer-card {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.offer-card h4 {
  margin-top: 0;
}

.offer-card a,
.offer-card button {
  display: block;
  margin-top: 10px;
  color: #395C9F;
  text-decoration: none;
}

.offer-card button {
  padding: 10px;
  border: none;
  background-color: #395C9F;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.offer-card button:hover {
  background-color: #2c4373;
}

.session-recruitment {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.session-card {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.session-card h4 {
  margin-top: 0;
}

.session-card button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #395C9F;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.session-card button:hover {
  background-color: #2c4373;
}

.add-session {
  padding: 10px;
  border: none;
  background-color: #395C9F;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.add-session:hover {
  background-color: #2c4373;
}


.entreprisePhoto img{
  width: 600px;
  max-height: 300px;
  margin-top: 10px;
}


footer {
    background-color:  #395C9F;
    color: #fff;
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {     
    border-bottom: 2px solid white; 
}
