
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #395C9F;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

header h1 {
    color: white;
    margin: 0;
}

header a {
    text-decoration: none;
    color: white;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

header nav a:hover {     
    border-bottom: 2px solid white; 
}


nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    margin-right: 20px; /* Ajoute un espacement à droite pour chaque lien (ajustez selon vos besoins) */
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid white; 
    
}

 /* Style pour la liste déroulante */
 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Masquer la liste déroulante par défaut */
    position: absolute;
    background-color: black;
    align-items: center;
}

nav li {
    list-style: none;

}

nav li:hover ul {
    display: block; /* Afficher la liste déroulante au survol */
}

nav ul li {
    display: block;
}

nav ul a {
    padding: 10px;
    display: block;
}


main {
    padding: 20px;
}

#students-profiles {
    max-width: 1200px;
    margin: 0 auto;
}

#students-profiles h1 {
    text-align: center;
    margin-bottom: 30px;
}

#profiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.profile-card:hover {
    transform: translateY(-10px);
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-card h2 {
    margin: 15px 0 5px;
    font-size: 1.2em;
}

.profile-card p {
    margin: 5px 0;
    color: #555;
}

.profile-card a {
    text-decoration: none;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #0073b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005b8b;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #395C9F;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {     
    border-bottom: 2px solid white; 
}